%h1 Listing services

%table
  %thead
    %tr
      %th Vendor
      %th Name
      %th Description
      %th Price
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.vendor
        %td= service.name
        %td= service.description
        %td= service.price
        %td= link_to t('.show'), service
        %td= link_to t('.edit'), edit_service_path(service)
        %td= link_to t('.destroy'), service, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_service_path
