%p#notice= notice

%p
  %b Vendor:
  = @service.vendor
%p
  %b Name:
  = @service.name
%p
  %b Description:
  = @service.description
%p
  %b Price:
  = @service.price

= link_to t('.edit'), edit_service_path(@service)
\|
= link_to t('.back'), services_path
