= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :username, hint: "Claim your personal URL: https://savvspace.com/u/your-username"
    = f.input :contact_email
    = f.input :bio
    = f.input :linked_in
    = f.input :facebook
    = f.input :twitter
    = f.input :instagram
    = f.input :avatar, as: :attachinary
    = f.input :background, as: :attachinary

  .form-actions
    = f.button :submit
    - if @profile.persisted?
      \|
      = link_to 'Cancel', @profile
