- case @tab
- when "articles"
  #articles
    - if @profile.profiled.respond_to?(:authored_articles)
      - @profile.profiled.authored_articles.in_groups_of(3, false) do |group|
        .row
          - group.each do |article|
            .col-md-4
              = render(partial: "articles/article_preview", object: article)

- when "businesses"
  #vendorships
    - user_profile_vendorships(@profile.profiled).each do |vendor|
      %div.media[vendor]
        .media-left
          - if vendor.profile.avatar
            = link_to(cl_image_tag(vendor.profile.avatar.path, class: "media-object", width: 64, height: 64, crop: :fill), vendor.profile)
          - else
            = link_to(image_tag("blank-profile.png", class: "media-object", width: 64, height: 64), vendor.profile)

        .media-body
          %h4.media-heading= link_to(vendor.name, vendor.profile)
          %p.summary= vendor.profile.bio
- when "properties"
  #properties
    - @property_search = PropertySearch.find_or_create_by(profile:@profile, mls_server: MlsServer.first)

    .property-search.m-b
      = render partial: "property_searches/form", locals: {property_search: @property_search}

    #property-list
      = render partial: "property_searches/index", locals: {property_search: @property_search}

- when "open_houses"
  #open_houses
    .property-search.m-b
      = render partial: "open_house_searches/form", locals: {property_search: @property_search}

    #property-list
      - @property_search = OpenHouseSearch.find_or_create_by(profile: @profile, mls_server: MlsServer.first)
      = render partial: "open_house_searches/index", locals: {property_search: @property_search}
