%nav
  %ul
    %li.active
      = link_to("Articles", "#")
    %li
      = link_to("Products", "#")
    %li
      = link_to("Services", "#")
    %li
      = link_to("Photos", "#")
    %li
      = link_to("Properties", "#")
