.profile-header[@profile]{background_image_url(@profile.background)}
  - if policy(@profile).edit?
    .action-links.pull-right
      = link_to(edit_profile_path(@profile), class: "btn btn-sm btn-default") do
        %span.icon.icon-edit
        %span.sr-only Edit

  .container-fluid
    .container-inner
      .transparent-shaded-box
        - if @profile.avatar
          = cl_image_tag(@profile.avatar.path, class: "img-responsive img-circle rounded-circle media-object", crop: :thumb, gravity: :face, height: 110, width: 110, quality: :auto, flags: "lossy")
        %h2.profile-header-user
          - if @profile.username
            = link_to(@profile.name, public_profile_path(@profile.username))
          - else
            = @profile.name
        %p.profile-header-bio
          - if @profile.bio
            = @profile.bio.truncate(200)

        = render partial: "social_links", locals: {profile: @profile}

  = render partial: "#{@profile.profiled.class.name.underscore}_navigation", locals: {tab: @tab}


= render partial: "#{@profile.profiled.class.name.underscore}_content"
