.profile-header.m-b[@profile]{background_image_url(@profile.background)}

.profile-details.container
  .row
    .col-md-3
      - if @profile.avatar
        %a{name: "content"}= cl_image_tag(@profile.avatar.path, class: "img-responsive center-block", crop: :thumb, gravity: :face, width: 230, height: 230, quality: :auto, flags: "lossy", responsive: true, radius: :max, zoom: 0.7)
      - if policy(@profile).edit?
        .action-links.text-center.m-t
          = link_to(edit_profile_path(@profile), class: "btn btn-sm btn-default") do
            %span.icon.icon-edit
            Edit

      - if user_signed_in? && current_user.visiting_different_profile?(@profile)
        .links.text-center= render partial: "social_links", locals: {profile: @profile}

    .col-md-9
      %h2.name= @profile.name
      %p.bio= @profile.bio.to_s.truncate(400)
      - if @profile.profiled.kind_of?(User) && user_profile_vendorships(@profile.profiled).any?
        %p
          %strong Businesses:
          - user_profile_vendorships(@profile.profiled).each_with_index do |vendor, index|
            = index.zero? ? nil : ", "
            = link_to(vendor.name, vendor_profile_path(vendor))

#profile-nav.container-fluid
  = render partial: "#{@profile.profiled.class.name.underscore}_navigation", locals: {tab: @tab}


.container
  = render partial: "#{@profile.profiled.class.name.underscore}_content"
