%h1 Listing phone_calls

%table
  %thead
    %tr
      %th From
      %th Profile
      %th
      %th
      %th

  %tbody
    - @phone_calls.each do |phone_call|
      %tr
        %td= phone_call.from
        %td= phone_call.profile
        %td= link_to t('.show'), phone_call
        %td= link_to t('.edit'), edit_phone_call_path(phone_call)
        %td= link_to t('.destroy'), phone_call, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_phone_call_path
