%h1 Listing property_notes

%table
  %thead
    %tr
      %th User
      %th Property
      %th Text
      %th
      %th
      %th

  %tbody
    - @property_notes.each do |property_note|
      %tr
        %td= property_note.user
        %td= property_note.property
        %td= property_note.text
        %td= link_to t('.show'), property_note
        %td= link_to t('.edit'), edit_property_note_path(property_note)
        %td= link_to t('.destroy'), property_note, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_property_note_path
