%p#notice= notice

%p
  %b User:
  = @property_note.user
%p
  %b Property:
  = @property_note.property
%p
  %b Text:
  = @property_note.text

= link_to t('.edit'), edit_property_note_path(@property_note)
\|
= link_to t('.back'), property_notes_path
