.favorite-link[item]
  - if ! current_user
    = link_to(new_user_session_path, class: "btn link-unstyled") do
      %span.icon.icon-heart-outlined
        Favorite
  - else
    - favorite = current_user.favorite_items.find_or_initialize_by(favorite: item)
    - if favorite.new_record?
      = form_for(favorite, remote: true) do |f|
        = f.hidden_field :favorite_type
        = f.hidden_field :favorite_id
        %button.btn.link-unstyled{type: 'submit'}
          %span.icon.icon-heart-outlined
          Favorite
    - else
      = link_to(favorite, method: :delete, remote: true, class: "btn link-unstyled") do
        %span.icon.icon-heart.selected
        Favorite
