%h1 Listing favorite_items

%table
  %thead
    %tr
      %th Favorite
      %th User
      %th
      %th
      %th

  %tbody
    - @favorite_items.each do |favorite_item|
      %tr
        %td= favorite_item.favorite
        %td= favorite_item.user
        %td= link_to 'Show', favorite_item
        %td= link_to 'Edit', edit_favorite_item_path(favorite_item)
        %td= link_to 'Destroy', favorite_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Favorite item', new_favorite_item_path
