.article-preview
  .image= link_to(cl_image_tag(article_preview.feature_photo.path, quality: :auto, flags: "lossy", width: :auto, responsive: true), article_preview)
  .byline
    - if article_preview.category
      %span.category
        = link_to(article_preview.category.name.upcase, article_category_articles_path(article_preview.category))
      \|
    %span.date
      - if article_preview.updated_at.today?
        = article_preview.updated_at.strftime(t("articles.shared.format_time"))
      - else
        = article_preview.updated_at.strftime(t("articles.shared.format_date"))
    \|
    %span.author
      By
      = link_to(article_preview.author.profile.name, article_preview.author.profile, title: t('articles.shared.author_profile'))

  %h4.title= link_to(article_preview.title, article_preview)
  .abstract
    %p= article_preview.body.truncate(300)
  .link
    = link_to(t('articles.shared.read_more'), article_preview)
