%article[@article]
  - if @article.feature_photo?
    = cl_image_tag(@article.feature_photo.path, class: "img-responsive")

  %header.media.m-b
    - if @article.category
      .category
        &mdash;
        = link_to(@article.category.name, article_category_articles_path(@article.category))

    %h1= @article.title

    .media-left
      - if @article.author.profile.avatar
        = cl_image_tag(@article.author.profile.avatar.path, size: '64x64', crop: :thumb, gravity: :face, class: "img img-circle media-object")
    .media-body
      %h4.media-heading
        By
        = link_to(@article.author_name, @article.author.profile)
      %p
        %span.icon.icon-calendar
        = @article.updated_at.to_s
        \|
        %span.icon.icon-chat
        0
        Comments

  %section
    - if @article.secondary_photo
      = cl_image_tag(@article.secondary_photo.path, class: "img-responsive secondary-photo", data: {action: "zoom"})

    :markdown
      #{@article.body}

    - if @article.tertiary_photo
      = cl_image_tag(@article.tertiary_photo.path, class: "img-responsive tertiary-photo", data: {action: "zoom"})

  = render partial: "common/rating", locals: {rateable: @article}

.author-profile
  .panel.panel-default.panel-profile.m-b-md
    .panel-heading{background_image_url(@article.author.profile.background)}
    .panel-body.text-center
      - if @article.author.profile.avatar
        = cl_image_tag(@article.author.profile.avatar.path, class: "panel-profile-img", crop: :thumb, gravity: :face, height: 100, width: 100)

      %h5.panel-title= @article.author.profile.name
      %p.m-b-d= @article.author.profile.bio

      = render partial: "profiles/social_links", locals: {profile: @article.author.profile}
