.modal-dialog.modal-md
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4.modal-title
        - if controller.action_name == "show"
          = link_to(conversations_path, remote: true, style: "color: white;") do
            %span.icon.icon-chevron-left
            Back
        - else
          New Message
    .modal-body.modal-body-scroller
      %ul.media-list.media-list-conversation.c-w-md[@conversation]
        = render @conversation.messages.order(created_at: :asc)
    .modal-body
      = simple_form_for([@conversation, Message.new], remote: true) do |f|
        .form-group
          = f.input_field :body, :placeholder => "Message", label: false, class: "form-control"
        .form-group.text-right.m-b-0
          = f.submit "Send", class: "btn btn-primary btn-sm"
