.container
  %h1 Listing users

  %table
    %thead
      %tr
        %th E-Mail
        %th
        %th
        %th
        %th Trailblazer Role

    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= link_to t('.show'), user
          %td= link_to t('.edit'), edit_user_path(user)
          %td= link_to t('.destroy'), user, method: :delete, data: { confirm: t('.confirm') }

          = render partial: 'authorizations/link', locals: {user: user}

  %br

  = link_to t('.new'), new_user_path
