.container.m-y-lg
  .container-content-middle
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form', class: 'm-x-auto text-center app-login-form' }) do |f|
      %h2 Forgot your password?
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, placeholder: 'Email Address'
      .actions
        = f.submit 'Send me reset password instructions'

      %footer.screen-login
        = render 'devise/shared/links'
