= form_for(PropertySearch.new(profile: @profile, mls_server_id: MlsServer.first.id, favorite: @favorite), {remote: true, html: {class: "property-search form-inline with-spinner"}}) do |f|
  .form-group
    = f.label :property_type
    %br
    = f.select :property_type, property_type_options(property_search.mls_server), {include_blank: "All"}, {class: "form-control custom-select"}
  .form-group
    = f.label :area
    %br
    = f.select :area, property_area_options(property_search.mls_server), {include_blank: "All"}, {class: "form-control custom-select"}
  .form-group
    = f.label :sort_by
    %br
    = f.select :sort_by, property_sort_options, {}, {class: "form-control custom-select"}
  .form-group
    = f.label :min_price
    %br
    = f.select :min_price, property_price_options, {include_blank: "No Min"}, {class: "form-control custom-select"}
    %span.hidden-xs
      \-
  .form-group.m-r
    = f.label :max_price
    %br
    = f.select :max_price, property_price_options, {include_blank: "No Max"}, {class: "form-control custom-select"}

  .form-group
    = f.label :min_beds
    %br
    = f.select :min_beds, property_bed_options, {include_blank: "No Min"}, {class: "form-control custom-select"}
    %span.hidden-xs
      \-
  .form-group
    = f.label :max_beds
    %br
    = f.select :max_beds, property_bed_options, {include_blank: "No Max"}, {class: "form-control custom-select"}
  .form-group
    .hidden-xs
      %label &nbsp;
      %br
    = f.submit "Search", class: "btn btn-primary"
    = f.hidden_field :profile_id
    = f.hidden_field :favorite
    = image_tag("dots.gif", height: 30, class: "ajax-spinner")
