.col-md-4.property
  .panel.panel-default.panel-profile[]
    - bgimg = property.photos.first
    - property_url = url_for(mls_server_property_path(property.mls_server, property.internal_mls_id, profile_id: @profile.to_param))
    - if bgimg
      - img_path = cl_image_path(bgimg, type: :fetch, crop: :lfill, height: 230, width: 378, quality: 100)
      .panel-heading{style: "background-image: url(#{img_path});", href: property_url}
    - else
      .panel-heading{style: "background-image: url(#{image_path('no_property_photo')});", href: property_url}
    .panel-body
      %h5.panel-title
        = link_to(property.street_address, property_url)
      .details
        %p.neighborhood.m-b-0
          - if property.area.present?
            = property.area
            \-
          = property.city
          = property.state
          = property.zip5
        %p.pricing
          %span.sale-price= number_to_currency(property.list_price, precision: 0)

          &nbsp;
          %span.stats
            %span.icon.icon-home
            = "#{property.bedrooms}bd"
            = format("%s full | %s half", property.full_baths, property.half_baths)

        %hr
        %p.description= property.public_remarks.truncate(100)
        .controls
          %p.pull-right
            %span.icon.icon-heart
            3
            &nbsp;
            &nbsp;
            %span.glyphicon.glyphicon-share-alt
          %p.updated
            Updated
            = distance_of_time_in_words(property.mls_updated_at, Time.current)
            ago
