.col-md-4
  /
    = property.inspect
  .panel.panel-default.panel-profile[]
    - bgimg = property["photos"][0].fetch("url", "") unless property["photos"].empty?
    - if bgimg
      .panel-heading{style: "background-image: url(#{bgimg});", href: "#"}
    - else
      .panel-heading{style: "background-image: url(#{image_path('no_property_photo')});", href: "#"}
    .panel-body
      %h5.panel-title
        = link_to("#") do
          = property["fields"]["LIST_31"]
          = property["fields"]["LIST_34"]
      .details
        %p.neighborhood.m-b-0
          - if property["fields"]["LIST_77"].present?
            = property["fields"]["LIST_77"]
            \-
          = property["fields"]["LIST_39"]
          = property["fields"]["LIST_40"]
          = property["fields"]["LIST_43"]
        %p.pricing
          %span.sale-price= number_to_currency(property["fields"]["LIST_22"], precision: 0)

          &nbsp;
          %span.stats
            %span.icon.icon-home
            = "#{property["fields"]["LIST_66"]}bd"
            = format("%s.%dba", property["fields"]["LIST_68"], property["fields"]["LIST_69"].to_i)

        %hr
        %p.description= property["fields"]["LIST_78"].truncate(100)
        .controls
          %p.pull-right
            %span.icon.icon-heart
            3
            &nbsp;
            &nbsp;
            %span.glyphicon.glyphicon-share-alt
          %p.updated
            Updated
            = distance_of_time_in_words(Time.parse(property["fields"]["LIST_87"]), Time.current)
            ago
