#hero
  .container
    .row
      .col-md-6.col-md-offset-3
        %h1
          A modern take on
          %br
          Finding Home.

        %p.herotext
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla sodales metus, scelerisque fringilla diam congue ut. Aliquam ut lorem libero, sit amet congue lacus.

        %form
          .form-group.has-feedback
            %input.form-control.input-lg{type: "text", name: "search", placeholder: t('homepage.search_placeholder'), "aria-describedby": "search-icon"}
            %span.glyphicon.glyphicon-search.form-control-feedback{"aria-hidden": "true"}
            %span#search-icon.sr-only= t('search')

#how-it-works
  .container
    .row
      %h2 How it Works
    .row
      #homeowners.col-md-4
        .text-center
          = image_tag("marketing/handhouse.png", alt: "")
          %h5 Home Owners
        %ul
          %li Create a profile
          %li Keep track of home upgrades
          %li Organize property documents
          %li Share info you choose
          %li Post about your community
      #business-owners.col-md-4
        .text-center
          = image_tag("marketing/business.png", alt: "")
          %h5 Business Owners
        %ul
          %li Same as owners +
          %li Store headshots, bio, and assets
          %li Send easy HTML Mailers
          %li Reminders to add content for audience reach
          %li Tell your story
      #vendors.col-md-4
        .text-center
          = image_tag("marketing/handshake.png", alt: "")
          %h5 Vendors
        %ul
          %li Same as Business Owners +
          %li Book your services
          %li Get paid through the system
          %li Everyone gets rated

    .row
      #guides.col-md-4
        .text-center
          = image_tag("marketing/girlwithbubble.png", alt: "")
          %h5 Guides
        %ul
          %li How to get noticed
          %li Share local hot spots and secrets
          %li Revenue Sharing
          %li Become an ambassador of an area
          %li Moving...check out the ins and outs
      #communities.col-md-4
        .text-center
          = image_tag("marketing/compy.png", alt: "")
          %h5 Posting + Learning About all Communities
        %ul
          %li How to get noticed
          %li Share local hot spots and secrets
          %li Revenue Sharing
          %li Become an ambassador of an area
          %li Moving...check out the ins and outs
      #real-estate.col-md-4
        .text-center
          = image_tag("marketing/homewiththekeything.png", alt: "")
          %h5 Actually Find Your Piece of Real Estate
        %ul
          %li Easy home search
          %li Saved searches of your favorites
          %li Find a real estate professional
          %li Credit Awareness
          %li Tutorials about the process

.pull-quote
  %blockquote
    %p Quote from someone or something inspiring.
    %footer Jennifer Tracy, Guide

#blog-posts.container
  .row
    .article-preview.col-md-4
      = render partial: "article", locals: {image: "blog-wine.jpg", title: "Finding time for wine."}
    .article-preview.col-md-4
      = render partial: "article", locals: {image: "blog-beach.jpg", title: "Beack Break"}
    .article-preview.col-md-4
      = render partial: "article", locals: {image: "blog-painting.jpg", title: "Art in the Community"}

.pull-quote
  %blockquote
    %p Quote from someone or something inspiring.
    %footer Jennifer Tracy, Guide

#area-feature.container.m-t
  .row
    .col-md-8
      = image_tag("marketing/area-feature.jpg", alt: "", class: "img-responsive")
    .col-md-4
      %h4 LOCATION FEATURE
      %h5 Historic Downtown San Luis Obispo
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla sodales metus, scelerisque fringilla diam congue ut. Aliquam ut lorem libero, sit amet congue lacus. Proin mauris sem, iaculis in rhoncus at, mollis et nisl. Aenean et elit at diam congue dignissim. Fusce pulvinar elit ante, eu pretium ligula. Mauris non blandit metus.

.pull-quote
  %blockquote
    %p Quote from someone or something inspiring.
    %footer Jennifer Tracy, Guide

#bottom-nav-highlights.container-fluid
  #guides.col-md-3.col-sm-6
    .link.text-center= link_to('Guides', authors_path)
  #areas.col-md-3.col-sm-6
    .link= link_to('Areas', areas_path)
  #articles.col-md-3.col-sm-6
    .link= link_to('Articles', articles_path)
  #vendors.col-md-3.col-sm-6
    .link= link_to('Vendors', '#')
