%ul.no-border{tab_nav_list}
  %li.active{tab_nav_item}
    = tab_link("General", "general")
  %li{tab_nav_item}
    = tab_link("Ambassador", "ambassador")
  %li{tab_nav_item}
    = tab_link("Articles", "articles")

.tab-content
  #general.tab-pane.active{role: "tabpanel"}
    .panel.panel-default
      = simple_form_for(@area) do |f|
        .panel-body
          = f.error_notification
          = f.input :name
          = f.input :description
          = f.input :display_photo, as: :attachinary
        .panel-footer
          .pull-right= f.button :submit
          = link_to("Cancel", areas_path, class: "btn btn-default")

  #ambassador.tab-pane{role: "tabpanel"}
    = render "ambassadorships/embedded_form"

  #articles.tab-pane{role: "tabpanel"}
    .panel.panel-default
      .panel-heading.text-right
        = link_to("New Article", new_article_path, class: "btn btn-primary icon icon-plus")
      .panel-body
        %ul.media-list
          - @area.articles.each do |article|
            %li.media[article]
              .media-left
                - if article.feature_photo
                  = link_to(cl_image_tag(article.feature_photo.path, size: '64x64', crop: :thumb), article_path(article))
              .media-body
                %h4.media-heading= link_to(article.title, article_path(article))
                = article.body.truncate(256)
