%ul{tab_nav_list}
  %li.active{tab_nav_item}
    = tab_link("General", "general")
  %li{tab_nav_item}
    = tab_link("Ambassador", "ambassador")

.tab-content
  #general.tab-pane.active{role: "tabpanel"}
    .panel.panel-default
      = simple_form_for(@area) do |f|
        .panel-body
          = f.error_notification
          = f.input :name
          = f.input :description
          = f.input :display_photo, as: :attachinary
        .panel-footer
          .pull-right= f.button :submit
          = link_to("Cancel", areas_path, class: "btn btn-default")
  #ambassador.tab-pane{role: "tabpanel"}
