.profile-header[@area]{background_image_url(@area.display_photo)}
  .container-fluid
    .container-inner
      %h1{style: "text-shadow: 2px 2px 4px #000000;"}= @area.name
      %p.transparent-shaded-box= @area.description

  %nav
    %ul
      %li.active
        = link_to("Articles", "#")
      %li
        = link_to("Vendors", "#")
      %li
        = link_to("Photos", "#")
      %li
        = link_to("Map", "#")

#articles
  = render(partial: "article", collection: @area.articles) || "No articles"
