.container
  %h1 Article Categories

  %table
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @article_categories.each do |article_category|
        %tr
          %td= article_category.name
          %td= link_to t('.show'), article_category
          %td= link_to t('.edit'), edit_article_category_path(article_category)
          %td= link_to t('.destroy'), article_category, :method => :delete, :data => { :confirm => t('.confirm') }

  %br

  = link_to t('.new'), new_article_category_path
