%h1 Listing features

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Enabled
      %th Disabled
      %th
      %th
      %th

  %tbody
    - @features.each do |feature|
      %tr
        %td= feature.name
        %td= feature.description
        %td= feature.enabled
        %td= feature.disabled
        %td= link_to t('.show'), feature
        %td= link_to t('.edit'), edit_feature_path(feature)
        %td= link_to t('.destroy'), feature, :method => :delete, :data => { :confirm => t('confirm') }

%br

= link_to t('.new'), new_feature_path
