%p#notice= notice

%p
  %b Name:
  = @feature.name
%p
  %b Description:
  = @feature.description
%p
  %b Enabled:
  = @feature.enabled
%p
  %b Disabled:
  = @feature.disabled

= link_to t('.edit'), edit_feature_path(@feature)
\|
= link_to t('.back'), features_path
