= form_for(OpenHouseSearch.new(profile: @profile, mls_server_id: MlsServer.first.id), {remote: true, html: {class: "property-search form-inline with-spinner"}}) do |f|
  .form-group
    = f.label "Day(s)"
    %br
    = f.select :from_dates_list, open_house_date_options, {}, {class: "form-control custom-select multiple", multiple: true, data: {select_all: true}}
  .form-group
    = f.label :sort_by
    %br
    = f.select :sort_by, property_sort_options, {}, {class: "form-control custom-select"}
  .form-group
    = f.label :min_price
    %br
    = f.select :min_price, property_price_options, {include_blank: "No Min"}, {class: "form-control custom-select"}
    %span.hidden-xs
      &nbsp;
      to
      &nbsp;
  .form-group
    = f.label :max_price
    %br
    = f.select :max_price, property_price_options, {include_blank: "No Max"}, {class: "form-control custom-select"}

  .form-group
    .hidden-xs
      %label &nbsp;
      %br
    = f.submit "Search", class: "btn btn-primary"
    = f.hidden_field :profile_id
    = image_tag("dots.gif", height: 30, class: "ajax-spinner")
