.col-md-4
  /
    = property.inspect
  .panel.panel-default.panel-profile[]
    - bgimg = property.photo_url
    - if bgimg
      - img_path = cl_image_path(bgimg, type: :fetch, crop: :lfill, height: 150, width: 378, quality: 100)
      .panel-heading{style: "background-image: url(#{img_path});", href: "#"}
    - else
      .panel-heading{style: "background-image: url(#{image_path('no_property_photo.png')});", href: "#"}
    .panel-body
      %h5.panel-title
        = link_to("#") do
          = property.street_address
        .pull-right
          = event_date(property)
      .details
        %p.neighborhood.m-b-0
          = property.area
        %p.pricing
          %span.sale-price= number_to_currency(property.list_price, precision: 0)

        %p.description= property.comments.to_s.truncate(100)

        %hr
        .controls
          %p.pull-right
            = render partial: "favorite_items/link", locals: {item: property}
            &nbsp;
            &nbsp;
            %span.glyphicon.glyphicon-share-alt
