.col-md-4
  /
    = property.inspect
  .panel.panel-default.panel-profile[]
    .panel-heading{style: "background-image: url(#{image_path('no_property_photo')});", href: "#"}
    .panel-body
      %h5.panel-title
        = link_to("#") do
          = property["fields"]["ADD_0"]
      .details
        %p.neighborhood.m-b-0
          = property["fields"]["ADD_5"]
        %p.pricing
          %span.sale-price= number_to_currency(property["fields"]["LIST_22"], precision: 0)

        %hr
        %p.description= property["fields"]["OPEN_HOUSE_COMMENT"].to_s.truncate(100)
        .controls
          %p.pull-right
            %span.icon.icon-heart
            3
            &nbsp;
            &nbsp;
            %span.glyphicon.glyphicon-share-alt
