.col-md-4
  .panel.panel-default.panel-profile[]
    - bgimg = property.photo_url
    - if bgimg
      - img_path = cl_image_path(bgimg, type: :fetch, crop: :lfill, height: 150, width: 378, quality: 100)
      .panel-heading{style: "background-image: url(#{img_path});", href: url_for(mls_server_property_path(property.mls_server, property.mls_property_id, profile_id: @profile.to_param))}
    - else
      .panel-heading{style: "background-image: url(#{image_path('no_property_photo.png')});", href: url_for(mls_server_property_path(property.mls_server, property.mls_property_id, profile_id: @profile.to_param))}
    .panel-body
      %h5.panel-title
        = link_to(mls_server_property_path(property.mls_server, property.mls_property_id, profile_id: @profile.to_param)) do
          = property.street_address
        .pull-right
          = event_date(property)
      .details
        %p.neighborhood.m-b-0
          = property.area
        %p.pricing
          %span.sale-price= number_to_currency(property.list_price, precision: 0)

        %p.description= property.comments.to_s.truncate(100)

    .panel-footer
      = render partial: "favorite_items/link", locals: {item: property}
