%h1 Listing feature_requests

%table
  %thead
    %tr
      %th Feature
      %th User
      %th Profile
      %th
      %th
      %th

  %tbody
    - @feature_requests.each do |feature_request|
      %tr
        %td= feature_request.feature
        %td= feature_request.user
        %td= feature_request.profile
        %td= link_to 'Show', feature_request
        %td= link_to 'Edit', edit_feature_request_path(feature_request)
        %td= link_to 'Destroy', feature_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feature request', new_feature_request_path
