%h1 IDX Feature Requests

%table.table
  %thead
    %tr
      %th User Status
      %th User E-Mail
      %th Agent Name
      %th Broker Name
      %th Broker E-Mail
      %th

  %tbody
    - @feature_requests.each do |feature_request|
      %tr
        %td
          - if ! feature_request.user.confirmed?
            %span.label.label-success Confirmed
          - else
            %span.label.label-warning Unconfirmed
        %td= feature_request.user.email
        %td= feature_request.agent_name
        %td= feature_request.broker_name
        %td= feature_request.broker_email

        %td
          = link_to '#', class: "btn btn-primary" do
            %span.icon.icon-thumbs-up
            Approve
          = link_to '#', class: "btn btn-default" do
            %span.icon.icon-thumbs-down
            Deny
