%nav.navbar.navbar-static-top.app-navbar
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse-main", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      /
        %a.navbar-brand{:href => "index.html"}
          %img{:alt => "brand", :src => "/img/logo-1x.png", :height => 25}/
    #navbar-collapse-main.navbar-collapse.collapse
      %ul.nav.navbar-nav.hidden-xs.navbar-left
        %li
          = link_to("Areas", areas_path)
        %li
          %a{:href => "profile/index.html"} Authors
        %li
          %a{:href => "profile/index.html"} Become An Author
      %ul.nav.navbar-nav.hidden-xs.navbar-right
        %li
          %a{:href => "profile/index.html"} About
        %li
          %a{:href => "profile/index.html"} Contact
        %li
          - if user_signed_in?
            %li
              - if current_user.profile.avatar
                %button.btn.btn-default.navbar-btn.navbar-btn-avitar
                  = cl_image_tag(current_user.profile.avatar.path, {size: '35x35', crop: :thumb, gravity: :face, class: "img-circle"})
              /
                = link_to("Logout", destroy_user_session_path, method: :delete)
          - else
            = link_to("Login", new_user_session_path)
      %form.navbar-form.navbar-right.app-search{:role => "search"}
        .form-group
          %input.form-control{"data-action" => "grow", :placeholder => "Search", :type => "text"}/
      %ul.nav.navbar-nav.hidden-sm.hidden-md.hidden-lg
        %li
          %a{:href => "index.html"} Home
        %li
          = link_to("Areas", areas_path)
        %li
          = link_to("Authors", "#")
        %li
          %a{:href => ""} Become an Author
        %li
          %a{:href => ""} About
        %li
          %a{:href => ""} Contact
        /
          %li
            %a{"data-toggle" => "modal", :href => "#msgModal"} Messages
        %li
          = link_to("Logout", destroy_user_session_path, method: :delete)
      %ul.nav.navbar-nav.hidden
        %li
          %a{"data-action" => "growl", :href => "#"} Growl
        %li
          %a{:href => "login/index.html"} Logout
