!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/

    %title Savvspace

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Montserrat:300,400,600,700'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = cloudinary_js_config
    = csrf_meta_tags
    = render 'application/favicon'

  %body{class: [controller.controller_name, (user_signed_in? ? 'authenticated' : 'guest')], id: controller.action_name}
    #modal.modal.fade{role: "dialog", tabindex: "-1"}
    #main
      .container= render partial: "layouts/marketing_top_nav"

      #main-container= yield

    %footer#site_footer.container-fluid
      .container.p-a-lg
        #mailer.row
          %form.form-inline
            %label STAY IN THE KNOW
            .input-group
              %input.form-control{type: "text", name: "subscription", placeholder: "email"}
              %span.input-group-btn
                %button.btn{type: "submit"} SUBMIT
        #links.row.m-t-lg
          .col-md-6
            %ul.list-inline
              %li
                = link_to("Help + FAQs", "#")
              %li
                = link_to("Contact", contact_path)
              - if user_signed_in?
                %li
                  = link_to("My Profile", user_profile_path(current_user))
              %li
                = link_to("Businesses", vendors_path)
              %li
                = link_to("Articles", articles_path)
              %li
                = link_to("Find a House", "#")
          .col-md-4
            &copy; 2017 Savvspace.
            All Rights Reserved

          .col-md-2.text-right.social-links
            %a.icon.icon-facebook{href: "https://www.facebook.com/rachaelbissig", target: "_blank"}
            %a.icon.icon-twitter{href: "#"}
            %a.icon.icon-instagram{href: "https://www.instagram.com/rachaelbissigrealestate/", target: "_blank"}

    = javascript_include_tag '/dist/toolkit.min.js', 'data-turbolinks-track' => true
