!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/

    %title Savvspace

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Montserrat:300,400,600,700'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = cloudinary_js_config
    = csrf_meta_tags
    = render 'application/favicon'

  %body.marketing{class: [controller.controller_name, (user_signed_in? ? 'authenticated' : 'guest')], id: controller.action_name}
    #main
      .container= render partial: "layouts/marketing_top_nav"

      = yield
