!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Lora:700,700i|Montserrat:300,400"
    = render 'application/favicon'

    %title Savvspace

    %body.subscriptions
      .container-fluid
        #login_button
          = link_to("Login", new_user_session_path, class: "btn btn-primary-outline")

        .logo= image_tag("savvspace-logo.png", alt: "Savvspace")

        %h2.tag-line
          A community real estate hub.

        = yield
